/* Convención para agregar estilos
1. Pocisionamiento --> static, absolute, relative, fixed etc 
2. Modelo de caja (Box model) --> margin, padding, content
3. tipografia --> tipos, tamaños de fuente etc
4. Estilos visuales --> box shadow, border-radius, gradient, etc
5. otros --> reglas css y mas */
:root {
  --azulClaro: #4277b6;
  --azulOscuro: #2e3a59;
  --grisTexto: #6c6969;
  --gris: #c4c4c4;
}
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}
.body__home {
  background-image: url(../assets/home-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h2,
h3,
h4 {
  color: var(--azulClaro);
}
/* COMIENZO HEADER */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  font-size: 1.4rem;
  color: white;
  background-color: var(--azulClaro);
}
.header__home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  font-size: 1.4rem;
  color: white;
}
.header__logo-container {
  width: 50%;
}
.nav-container {
  width: 50%;
}
.header__nav--list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header__nav--list li {
  list-style: none;
}
.header__nav--list li a {
  padding: 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.header__nav--list a:hover {
  color: var(--azulOscuro);
  font-size: 1.8rem;
}
/* COMIENZO MAIN */
.main {
  width: 100%;
  height: auto;
  padding: 30px;
  font-size: 1.4rem;
}
.main__home {
  width: 100%;
  height: 460px;
  color: white;
}
.main__home--content {
  display: inline-block;
  margin-top: 100px;
  padding: 20px;
}
.main p {
  color: var(--grisTexto);
  font-size: 1.4rem;
}
.main__manager {
  display: flex;
  align-items: center;
  padding-left: 150px;
  margin-bottom: 20px;
}
.main__manager img {
  width: 320px;
  height: 240px;
  margin: 30px;
}
.main__manager--bio {
  margin: 30px;
  padding-right: 200px;
  color: var(--grisTexto);
  font-size: 1.4rem;
}
.main__manager--bio p {
  margin-top: 20px;
}
hr {
  width: 70%;
  height: 3px;
  margin-left: 180px;
  background-color: var(--azulOscuro);
}
.main__mvf {
  display: flex;
  justify-content: center;
  padding: 40px;
  color: var(--grisTexto);
  text-align: center;
  font-size: 1.4rem;
}
div[class^="main__mvf--"] {
  padding: 50px;
}
div[class^="main__mvf--"] img {
  width: 100px;
  margin-bottom: 20px;
}
div[class^="main__mvf--"] p {
  margin-top: 20px;
}
.service__title {
  margin-left: 120px;
}
/* INICIO SERVICIOS */
.main-services {
  display: flex;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template: repeat(4, auto) / repeat(2, 400px);
  row-gap: 50px;
  column-gap: 30px;
  margin: 50px 0;
  padding: 20px;
  text-align: justify;
  color: var(--grisTexto);
}
.grid-container img {
  width: 350px;
}
.grid-container__item p {
  margin: 30px 0px;
}
.service-button {
  padding: 10px;
  color: var(--azulClaro);
  background-color: #ffffff;
  border: var(--azulClaro) solid 2px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 10px;
  cursor: pointer;
  transition: all 1s ease;
}
.service-button:hover {
  color: #ffffff;
  background-color: var(--azulClaro);
}
/* FIN SERVICIOS */
.main__contact {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  flex-basis: auto;
  width: 1200px;
  padding: 50px;
  box-shadow: 1px 5px 16px 0px rgba(0, 0, 0, 0.93);
}
.main__contact--image {
  width: 600px;
  padding: 20px;
}
.main__contact--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 20px;
  color: var(--azulClaro);
  font-weight: bold;
}
.main__contact--form input {
  border: none;
  border-bottom: 2px solid var(--azulClaro);
  margin: 15px;
  width: 380px;
}
.main__contact--form .email {
  width: 400px;
}
.main__contact--form label {
  width: 800px;
}
textarea {
  margin-top: 10px;
  border: solid 2px var(--azulClaro);
}
.main__contact--form h3 {
  text-align: center;
  margin: 20px;
}
textarea {
  resize: none;
}
.main__galeria h2 {
  text-align: center;
  font-weight: bold;
  margin: 50px auto;
}
.main__flex {
  display: flex;
  width: 70%;
  margin: 50px auto;
  padding: 5px;
}
.columns img {
  width: 100%;
  margin-top: 5px;
}
.columns img:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s;
}
.columns {
  flex: 25%;
  padding: 5px;
}
/* COMIENZO FOOTER */
.footer {
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, var(--azulOscuro), var(--azulClaro));
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.4rem;
  color: white;
}
.footer-bottom {
  display: flex;
  justify-content: center;
}
.footer-bottom__container {
  width: 75%;
  height: fit-content;
  border-top: solid 0.5px #ffffff;
  text-align: center;
}
.footer-bottom__container p {
  margin-top: 5px;
  color: #ffffff;
  font-size: 1rem;
}
.footer__home {
  width: 100%;
  height: 300px;
}
.footer__right {
  display: flex;
  flex-direction: column;
}
.footer__right--icon {
  width: 35px;
  margin: 5px;
}
.footer__right--icon:hover {
  transform: scale(1.2, 1.2);
}
.footer__center {
  display: grid;
  grid-template: 30px 30px 30px / 30px 1fr;
}
@media only screen and (max-width: 768px) {
  .header__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    text-align: center;
  }
  .header__logo-container {
    height: 60px;
  }
  .nav-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
}
@media only screen and (max-width: 480px) {
  .header__nav--list {
    display: flex;
    flex-direction: column;
  }
  .footer__home {
    height: fit-content;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .footer__center {
    justify-self: center;
  }
}
@media only screen and (max-width: 320px) {
  .header__home {
    width: 100%;
  }
}
