.main__galeria h2 {
  text-align: center;
  font-weight: bold;
  margin: 50px auto;
}
.main__flex {
  display: flex;
  width: 70%;
  margin: 50px auto;
  padding: 5px;
}
.columns img {
  width: 100%;
  margin-top: 5px;
}
.columns img:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s;
}
.columns {
  flex: 25%;
  padding: 5px;
}

@media only screen and (max-width: 800px) {
  .main__flex {
    display: flex;
    flex-direction: column;
  }
  .columns img:hover {
    transform: none;
    transition: none;
  }
}
